@use "global/variables";


.about-us__title {
    margin-bottom: 23px;
}

.about-us__description {
    width: 500px;
    margin: 0;
    margin-bottom: 26px;
    font-size: 16px;
    line-height: 24px;
    color: variables.$basicDarkBlue;

    &--delivery {
        margin-bottom: 62px;
    }
}

.about-us__link {
    padding: 14px 43px 13px 46px;
    text-decoration: none;
    color: variables.$basicWhite;
    background-color: variables.$basicRed;
    border-radius: 2px;
}
