@use "global/variables";

.auth-menu {
    display: flex;
    align-items: center;
    
    & .auth-menu__button-text--logout {
        display: none;
    }
    
    &--authorized .auth-menu__profile-button {
        display: flex;
    }
    
    &--authorized .auth-menu__button-icon {
        transform: rotate(180deg);
        margin-right: 0;
    }
    
    &--authorized .auth-menu__button-text--login {
        display: none;
    }
    
    &--authorized .auth-menu__button-text--logout {
        display: inline;
    }
}

.auth-menu__profile-button {
    display: none;
    align-items: center;
    margin-right: 16px;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    color: variables.$basicBackground;
    background-color: transparent;
    border: none;
    
    &--active + .popover {
        display: flex;
    }
}

.auth-menu__profile-icon {
    margin-right: 8px;
}

.auth-menu__auth-button {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    color: variables.$basicBackground;
    background-color: transparent;
    cursor: pointer;

    &:hover .auth-menu__button-icon {
        color: variables.$basicDarkBlue;
    }

    &:hover .auth-menu__button-text {
        color: rgba(241, 245, 247, 0.8)
    }
    
    &--active + .popover {
        display: flex;
    }
}

.auth-menu__button-icon {
    margin-right: 12px;
    color: variables.$basicWhite;
}

.auth-menu__popover {
    position: absolute;
    top: 13px;
    right: 2px;
    z-index: 1;
}
