@use "global/variables";

.catalog__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 74px;
}

.catalog__title {
    grid-column: 1 / -1;
    margin-bottom: 26px;
}

.catalog__dropdown {
    width: 280px;
    margin-left: 6px;
    margin-bottom: 32px;
}

.catalog__product-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 33px;
}

.catalog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 33px;
    row-gap: 29px;
    max-width: 876px;
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    list-style-type: none;
}

.catalog__buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    margin-left: 3px;
    margin-bottom: 53px;
}

.catalog__pagination-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-right: 9px;
    padding: 0;
    list-style-type: none;
}

.catalog__pagination-item {
    margin-right: 8px;
}

.catalog__pagination-button {
    width: 50px;
    min-height: 45px;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: variables.$basicWhite;
    background-color: variables.$basicGrey;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    
    &:not(&--current):hover {
        background-color: variables.$basicLightBlue;
    }
    
    &:focus {
        outline: none;
    }
    
    &:focus-visible {
        border-color: variables.$specialYellow;
    }
    
    &:not(&--current):active {
        background-color: rgba(variables.$basicGrey, 0.4);
    }
    
    &--current {
        color: variables.$basicGrey;
        background-color: variables.$basicWhite;
    }
}

.catalog__button {
    padding: 12px 34px 12px 37px;
    color: variables.$basicWhite;
    background: variables.$basicRed;
    border: 1px solid transparent;
    border-radius: 2px;
    
    &:hover {
        background-color: variables.$priceLabelHover
    }
    
    &:focus {
        outline: none;
    }
    
    &:focus-visible {
        border-color: variables.$specialYellow;
    }
    
    &:active {
        background-color: variables.$error
    }
}
