@use "global/variables";

.category-card {
    position: relative;
    width: 370px;
    padding: 20px 25px 33px 25px;
    background-color: variables.$specialYellow;
    background-image: url("../../images/icon-materials.svg");
    background-repeat: no-repeat;
    background-position: 87% 49%;

    &--new::before {
        position: absolute;
        top: 0;
        right: 0;
        width: 70px;
        height: 70px;
        background-image: url("../../images/new.svg");
        background-repeat: no-repeat;
        content: "";
    }
}

.category-card__title {
    margin-bottom: 57px;
    color: variables.$basicWhite;
}

.category-card__link {
    position: relative;
    display: inline-block;
    min-width: 180px;
    padding: 10px 20px 10px 27px;
    text-decoration: none;
    color: variables.$basicWhite;;
    border: 1px solid variables.$basicWhite;
    
    &:hover {
        border-color: variables.$basicGreyLight;
        color: variables.$basicGreyLight;
    }
    
    &:hover .category-card__link-icon  {
        color: variables.$basicGreyLight;
    }
    
    &:focus {
        outline: none;
    }
    
    &:focus-visible {
        border-color: variables.$basicDarkBlue;
    }
    
    &:active {
        border-color: rgba(variables.$basicWhite, 0.2);
        color: rgba(variables.$basicWhite, 0.2);
    }
    
    &:active .category-card__link-icon {
        color: rgba(variables.$basicWhite, 0.2);
    }
}

.category-card__link-icon {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    color: variables.$basicWhite;
}
