@use "global/variables";

.form-search {
    display: none;
}

.form-search__field {
    position: absolute;
    top: 0;
    left: 53px;
    width: 663px;
    padding: 10px 12px 11px 12px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: variables.$basicDarkBlue;
    background-color: variables.$basicBackground;
    border: none;
    
    &::placeholder {
        padding-left: 6px;
        color: variables.$basicGreyLight;
    }
    
    &:hover {     
    }
    
    &:focus {
        outline: none;
    }
    
    &:active {
    }
}
