@use "global/variables";

.header {
    margin-bottom: 52px;
    background: linear-gradient(#f3f7f9 27.5%, #293449 27.5%, #293449 56%, #3d546f 56%);
}

.header__contacts-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 44px;
}

.header__contacts-descriptions {
    margin-right: auto;
    font-style: italic;
    font-size: 14px;
    line-height: 18px;
    color: variables.$basicRed;
}

.header__contacts-address {
    margin-right: 34px;
    padding-bottom: 5px;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: variables.$basicLightBlue;
}

.header__contacts-telephone {
    display: flex;
    margin-right: 2px;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 2px;
    text-decoration: none;
    color: variables.$basicDarkBlue;

    &:hover {
        color: variables.$basicGreyLight;
    }
    
    &:hover .header__telephone-icon {
        color: variables.$basicGreyLight;
    }
    
    &:focus {
        outline: none;
    }
    
    &:focus-visible {
        color: variables.$specialYellow;
    }
    
    &:focus-visible .header__telephone-icon {
        color: variables.$specialYellow;
    }
    
    &:active {
        opacity: 0.2;
    }
}

.header__telephone-icon {
    margin-right: 8px;
    color: variables.$basicDarkBlue;
}

.header__logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.header__search {
    position: relative;
    margin-left: 220px;

    &:focus-within .form-search {
        display: flex;
    }

    &:focus-within .header__search-button {
        background-color: variables.$basicBackground;
    }
}

.header__search-button {
    display: flex;
    align-items: center;
    padding: 10px 21px 11px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: variables.$basicWhite;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: variables.$basicBackground;
    }

    &:hover + .form-search {
        display: flex;
    }

    &:focus {
        outline: none;
    }
}

.header__search-button-icon {
    margin-right: 12px;
    color: variables.$searchIcon;
    z-index: 1;
}

.header__nav {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.header__auth-menu {
    position: relative;
}

