@use "global/variables";

.services {
    background-color: variables.$addressText;
}

.services__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 52px 0 53px 0;
}

.services__title {
    margin-bottom: 30px;
}

.services__description {
    width: 556px;
    margin: 0;
    margin-bottom: 64px;
    margin-left: 12px;
    font-size: 18px;
    line-height: 24px;
    color: variables.$basicDarkBlue;
}

.services__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 0;
    padding: 0;
}

.services__item {
    background-repeat: no-repeat;

    &--delivery {
        background-image: url("../../images/icon-delivery.svg");
    }

    &--warranty {
        background-image: url("../../images/icon-sale.svg");
    }
    
    &--warranty .service-card__description {
        margin-left: 4px;
    }

    &--credit {
        background-image: url("../../images/icon-materials.svg");
    }
}
