@use "global/variables";

.site-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0;
    padding: 0;
    margin-left: -22px;
    list-style-type: none;
}

.site-list__link {
    display: flex;
    padding: 19px 20px 27px 26px;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: variables.$basicWhite;
    
    &:not(&--active):hover {
        color: variables.$basicGreyLight;
        background-color: variables.$basicLightBlue;
    }

    &:focus-visible {
        outline: 1px solid variables.$specialYellow;
    }

    &:not(&--active):active {
        color: variables.$basicGreyLight;
        background-color: variables.$basicLightBlue;
        opacity: 0.2;
    }
    
    &--active {
        font-weight: 700;
        color: variables.$basicWhite;
        background-color: variables.$basicLightBlue;
    }
}