@use "global/variables";

.subscribe-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 260px;
}

.subscribe-form__text {
    margin-bottom: 2px;
    font-size: 16px;
    line-height: 24px;
    color: variables.$basicWhite;
}

.subscribe-form__field {
    width: 220px;
    padding: 5px 14px 9px 15px;
    border: 1px solid variables.$basicGreen;
    
    &::placeholder {
        font-size: 14px;
        line-height: 18px;
    }
}

.subscribe-form__button {
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: variables.$basicGreen;
    background-image: url("../../images/basket.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: none;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    
    &:hover {
        background-color: variables.$success;
    }
    
    &:focus-visible {
        outline:  1px solid variables.$specialYellow;
    }
    
    &:active {
        background-color: variables.$specialGreen;
    }
}
