// color

$basicRed: #ee3643;
$basicGreen: #63a63e;
$basicGrey: #3d546f;
$basicGreyLight: #c5c5c5;
$basicBackground: #f1f5f7;
$basicWhite: #ffffff;
$specialYellow: #ffbf47;
$specialBlue: #3bbce3;
$specialLilac: #dc91d8;
$specialGreenLight: #8ed78f;
$specialYellowLight: #ffd180;
$error: #ba2732;
$warning: #ffbf47;
$success: #5fbb2d;

// size

$contentWide: 1169px;