// color

$basicRed: #ee3643;
$basicGreen: #63a63e;
$basicGrey: #3d546f;
$basicGreyLight: #c5c5c5;
$basicDarkBlue: #293449;
$basicLightBlue: #32425c;
$basicBackground: #f1f5f7;
$basicWhite: #ffffff;
$basicBlack: #000000;
$specialYellow: #ffbf47;
$specialBlue: #3bbce3;
$specialDarkBlue: #556981;
$specialLilac: #dc91d8;
$specialGreen: #518534;
$specialGreenLight: #8ed78f;
$specialYellowLight: #ffd180;
$specialWhite: #f2f2f2;
$specialGreyLight: #c4c4c4;
$error: #ba2732;
$warning: #ffbf47;
$success: #5fbb2d;

// size

$contentWide: 1169px;
