@use "global/fonts";
@use "global/global";
@use "global/variables";
@use "blocks/page";
@use "blocks/page-body";
@use "blocks/field";
@use "blocks/button";
@use "blocks/title";
@use "blocks/subtitle";
@use "blocks/close-button";
@use "blocks/site-list";
@use "blocks/user-list";
// @use "blocks/dropdown-list";
@use "blocks/form-search";
@use "blocks/auth-form";
@use "blocks/logo";
@use "blocks/popover";
@use "blocks/header";
@use "blocks/social";
@use "blocks/auth-menu";
@use "blocks/category-card";
@use "blocks/footer";
@use "blocks/main-index";
@use "blocks/services";
@use "blocks/slider";
@use "blocks/product-card";
@use "blocks/service-card";
@use "blocks/nav-menu";
// @use "blocks/products-list";
@use "blocks/about-us";
// @use "blocks/our-block";
@use "blocks/subscribe-form";
// @use "blocks/delivery";
// @use "blocks/tooltip";
@use "blocks/contacts";
// @use "blocks/feedback";
// @use "blocks/breadcrumbs";
// @use "blocks/filter-group";
@use "blocks/filter-form";
// @use "blocks/select";
// @use "blocks/range";
@use "blocks/control";
@use "blocks/catalog";
// @use "blocks/pagination";
